<a href="" routerLink="/zero-configuration"><button class="btn-info m-2">Zero Configuration (Static Data)</button></a>
<a href="" routerLink="/with-options"><button class="btn-info m-2">With Options (Dynamic Data)</button></a>
<a href="" routerLink="/with-ajax"><button class="btn-info m-2">With Ajax (Client Side)</button></a>
<a href="" routerLink="/angular-way"><button class="btn-info m-2">Angular Way (Client Side)</button></a>
<a href="" routerLink="/server-side-angular-way"><button class="btn-info m-2">Angular Way (Server Side)</button></a>
<a href="" routerLink="/custom-filter"><button class="btn-info m-2">Custom Filter</button></a>
<a href="" routerLink="/server-side-column-filter"><button class="btn-info m-2">Column Filter (Server Side)</button></a>
<a href="" routerLink="/row-click-event"><button class="btn-info m-2">Row Click Event (Client Side)</button></a>
<a href="" routerLink="/router-link"><button class="btn-info m-2">Router Link (Client Side)</button></a>
